*{
  background-color:rgb(247, 211, 207);
}
.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

.todo-form {
  margin-bottom: 20px;
}

.todo-form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.todo-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-form button:hover {
  background-color: #45a049;
}

.todo-lists {
  display: flex;
  justify-content: center;
  gap: 20px;
}
